/* ---------- */
/* CSS HEADER */
/* ---------- */

.header {
  height: 6rem;
  border-bottom: 3px solid #ed1a25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}

.header img {
  width: 120px;
}

.header .right-header {
  display: flex;
  gap: 15px;
}

.header .right-header a {
  font-size: 1.2rem;
}

/* ---------- */
/* CSS GLOBAL */
/* ---------- */

body {
  font-family: "Nintendo U", sans-serif;
  background: #ed1a25;
}

main {
  min-height: calc(100vh - 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  margin: 0 auto;
  max-width: 1024px;
}

.title {
  font-size: 33px;
  text-align: center;
  padding: 2rem 0;
}

.main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* link */

a:link {
  color: black;
}
a:visited {
  color: black;
}

/* card de pokémon */

.link-card {
  border: black 2px solid;
  padding: 0.4rem;
  border-radius: 5px;
  text-align: center;
}

.link-card img {
  height: 100px;
  width: 80px;
  object-fit: cover;
}

/* page types */

.all-type {
  display: flex;
  width: 1024px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.type-box {
  padding: 5px 5px;
  border-radius: 8px;
  color: white;
  border: 3px solid black;
  margin-bottom: 10px;
}

/* page pokemon */

.pokemon {
  display: flex;
  align-items: center;
  gap: 15px;
}

.type-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
